.txtgaweva{
    margin-left:-300px;
}
.surati{
    position:absolute;
    left:270px;
    bottom:700px;
}
.meoresurati{
    position:absolute;
    right:40%;
}
.meoretxtgaweva{
    margin-left:-300px;
    position:absolute;
    bottom:350px;
}
.saboloogaweva{
    position:absolute;
    bottom:200px;
}